<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Predictor Home</title>
    <style>body{background-image: url("./../static/diabetes-bg.jpg");}</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <h1 class="display-4 text-center" style="padding-top: 30px;">Welcome to VS Diabetes Predictor!</h1>
        <div class="row text-center" style="padding: 30px;">
            <div class="col-md-12"><a href="/predictor"><button class="btn customBtn">Take me to the predictor!</button></a> </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 rounded" style="background-color: white; padding: 15px">
                <h4>Motivation:</h4>
                <p class="font-italic">Keeping in mind the covid-19 pandemic, and the increasing cases of black fungus (Mucormycosis) which puts the people
                    with exisiting conditions like Diabetes at a greater risk; we feel there is a need of more awareness about the same. <br>
                    Hence, this diabetes predictor gives a fairly good insight into your chances of having diabetes (about 83%). <br>
                    <p class="font-weight-bold">Note:</p> This is just to provide an insight into the possibilty of you having Diabetes. If you are in doubt, please consult a physician.
                </p>
            </div>
            <div class="col-md-2"></div>            
        </div>
        <div style="margin-top: 50px;">
            <h4 class="text-center">Head down for insights into the diabetes in Indians</h4>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="figure-img img-fluid rounded" src="./../static/distplot.png" alt="Exploration of our dataset">
                <figcaption class="figure-caption">Relative count of each type in dataset.</figcaption>
                <p>The relative count of each heads in the dataset.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img class="figure-img img-fluid rounded" src="./../static/insulin_vs_pregnancies.png" alt="Insulin vs Pregnancies over outcome of diabetes">
                <figcaption class="figure-caption">Insulin level and pregnancies dependence on diabetes. </figcaption>
                <p>As we can see here, higher level of insulin for any number of pregnancies generally indicate the diabetes.(0 (blue) is non-diabetic and 1 (orange) is diabetic).</p>
            </div>
        </div>
        <div class="text-center">
            Made with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#e25555"></path></svg> by Vedant and Sahil!
        </div>  
</body>
</html>