<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Predictor Home</title>
</head>
<body>
    <h1>Welcome to VS Diabetes Predictor!</h1>
    <!-- <form action="" method="post">
        <label for="pregnancies">Number of times pregnant</label><input type="number" name="pregnancies" id="pregnancies"><br>
        <label for="glucose">Glucose level (in mg/dl)</label><input type="number" name="glucose" id="glucose"><br>
        <label for="bp">Blood pressure</label><input type="number" name="bp" id="bp"><br>
        <label for="st">Skin thickness</label><input type="number" name="st" id="st"><br>
        <label for="insulin">Skin thickness</label><input type="number" name="insulin" id="insulin"><br>
        <label for="bmi">Your BMI</label><input type="number" name="bmi" id="bmi"><br>
        <label for="age">Your age</label><input type="number" name="age" id="age"><br>
        <input type="submit">
    </form> -->
    <h2>Some values and diagrams</h2>
    <form action="/predictor" method="GET"><button type="submit">Take me to the predictor!</button></form>
    
</body>
</html>